In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
data = pd.read_csv('student-scores.csv')
print("Dataset loaded successfully.")

Dataset loaded successfully.

In [3]:
# Display the first few rows of the dataset
print(data.head())

   id first_name last_name                                  email  gender  \
0   1       Paul     Casey         paul.casey.1@gslingacademy.com    male
1   2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com  female
2   3       Tina   Andrews       tina.andrews.3@gslingacademy.com  female
3   4       Tara     Clark         tara.clark.4@gslingacademy.com  female
4   5    Anthony    Campos     anthony.campos.5@gslingacademy.com    male

   part_time_job  absence_days  extracurricular_activities  \
0          False             3                       False
1          False             2                       False
2          False             9                        True
3          False             5                       False
4          False             5                       False

   weekly_self_study_hours   career_aspiration  math_score  history_score  \
0                       27              Lawyer          73             81
1                       47              Doctor          90             86
2                       13  Government Officer          81             97
3                        3              Artist          71             74
4                       10             Unknown          84             77

   physics_score  chemistry_score  biology_score  english_score  \
0             93               97             63             80
1             96              100             90             88
2             95               96             65             77
3             88               80             89             63
4             65               65             80             74

   geography_score
0               87
1               90
2               94
3               86
4               76

In [4]:
# Check for missing values
print(data.isnull().sum())

id                            0
first_name                    0
last_name                     0
email                         0
gender                        0
part_time_job                 0
absence_days                  0
extracurricular_activities    0
weekly_self_study_hours       0
career_aspiration             0
math_score                    0
history_score                 0
physics_score                 0
chemistry_score               0
biology_score                 0
english_score                 0
geography_score               0
dtype: int64

In [6]:
# Basic Statistics
print(data.describe())

                id  absence_days  weekly_self_study_hours   math_score  \
count  2000.000000   2000.000000              2000.000000  2000.000000
mean   1000.500000      3.665500                17.755500    83.452000
std     577.494589      2.629271                12.129604    13.224906
min       1.000000      0.000000                 0.000000    40.000000
25%     500.750000      2.000000                 5.000000    77.000000
50%    1000.500000      3.000000                18.000000    87.000000
75%    1500.250000      5.000000                28.000000    93.000000
max    2000.000000     10.000000                50.000000   100.000000

       history_score  physics_score  chemistry_score  biology_score  \
count    2000.000000    2000.000000      2000.000000     2000.00000
mean       80.332000      81.336500        79.995000       79.58150
std        12.736046      12.539453        12.777895       13.72219
min        50.000000      50.000000        50.000000       30.00000
25%        69.750000      71.000000        69.000000       69.00000
50%        82.000000      83.000000        81.000000       81.00000
75%        91.000000      92.000000        91.000000       91.00000
max       100.000000     100.000000       100.000000      100.00000

       english_score  geography_score
count    2000.000000      2000.000000
mean       81.277500        80.888000
std        12.027087        11.637705
min        50.000000        60.000000
25%        72.000000        71.000000
50%        83.000000        81.000000
75%        91.000000        91.000000
max        99.000000       100.000000

In [7]:
# Check the data types of each column
print(data.dtypes)

id                             int64
first_name                    object
last_name                     object
email                         object
gender                        object
part_time_job                   bool
absence_days                   int64
extracurricular_activities      bool
weekly_self_study_hours        int64
career_aspiration             object
math_score                     int64
history_score                  int64
physics_score                  int64
chemistry_score                int64
biology_score                  int64
english_score                  int64
geography_score                int64
dtype: object

In [8]:
# Check for unique values in career_aspiration
print(data['career_aspiration'].value_counts())

career_aspiration
Software Engineer        315
Business Owner           309
Unknown                  223
Banker                   169
Lawyer                   138
Accountant               126
Doctor                   119
Real Estate Developer     83
Stock Investor            73
Construction Engineer     68
Artist                    67
Game Developer            63
Government Officer        61
Teacher                   59
Designer                  56
Scientist                 39
Writer                    32
Name: count, dtype: int64